$size: 180px;
$green: #90ee90;

.card{
    width: $size;
    height: $size;
    border: medium solid #000;
    position: absolute;
    font-size: 100px;
    text-align: center;
    background-color: $green;
    color: #fff;
    -webkit-text-stroke: 2px #000;
}

.card:hover{
    background-color: #228b22;
}