$size: 180px;
$blue: #9090ee;

.card{
    width: $size;
    height: $size;
    border: medium solid #000;
    position: absolute;
    font-size: 100px;
    text-align: center;
    background-color: $blue;
    color: #fff;
    -webkit-text-stroke: 2px #000;
}

.card:hover{
    background-color: #22228b;
}